# Database Configuration
DB_HOST=localhost
DB_PORT=5440
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=glory

# Application Configuration
NODE_ENV=development
PORT=3002

# BR Company API Configuration
BR_API_URL=https://669ce22d15704bb0e304842d.mockapi.io/assets
BR_API_TIMEOUT=10000